/*
** GENERAL
*/

// Palette
$palette-0:                            #ee6352;
$palette-1:                            #f7b267;
$palette-2:                            #58bfeb;
$palette-3:                            #23afcb;
$palette-4:                            #2fcc76;
$palette-5:                            #4E677A;
$palette-6:                            #0aa9ec;
$palette-7:                            #00b548;
$palette-8:                            #40C057;
$palette-9:                            #FA5252;
$palette-10:                           #F4F5F6;

$palette-0-light:                      #ef7161;
$palette-1-light:                      #f7b974;
$palette-2-light:                      #85d0f0;
$palette-3-light:                      #5fc4d9;
$palette-4-light:                      #54d58e;
$palette-5-light:                      #71899c;

$palette-0-dark:                       #ef7161;
$palette-1-dark:                       #e1a25e;
$palette-2-dark:                       #50aed6;
$palette-3-dark:                       #37b6cf;
$palette-4-dark:                       #2bba6c;
$palette-5-dark:                       #1B3448;
$palette-6-dark:                       #0095D3;
$palette-8-dark:                       #2F9E44;
$palette-9-dark:                       #E03131;

$palette-2-hover:                      #3BA9EC;
$palette-2-extralight:                 #58bfeb4F;

// common used color
/* greys and whites */
$grey-0:                               #000;
$grey-1:                               #111;
$grey-2:                               #222;
$grey-3:                               #333;
$grey-37:                              #374F61;
$grey-4:                               #444;
$grey-5:                               #555;
$grey-6:                               #666;
$grey-7:                               #777;
$grey-71:                              #71899C;
$grey-8:                               #888;
$grey-80:                              #808080;
$grey-87:                              #878787;
$grey-89:                              #898989;
$grey-8a:                              #8a8a8a;
$grey-9:                               #999;
$grey-98:                              #989898;
$grey-a:                               #aaa;
$grey-b1:                              #b1b1b1;
$white-a:                              $grey-a;
$grey-c:                               #ccc;
$white-c:                              $grey-c;
$grey-cd:                              #cdd7df;
$white-cd:                             $grey-cd;
$grey-d:                               #ddd;
$white-d:                              $grey-d;
$grey-d6:                              #d6d6d6;
$white-d6:                             $grey-d6;
$grey-de:                              #dedede;
$white-de:                             $grey-de;
$grey-e:                               #eee;
$white-e:                              $grey-e;
$grey-e1:                              #E1E8EE;
$grey-e6:                              #e6e6e6;
$white-e6:                             $grey-e6;
$grey-ea:                              #eaeaea;
$white-ea:                             $grey-ea;
$grey-ef:                              #efefef;
$white-ef:                             $grey-ef;
$grey-f0:                              #f0f0f0;
$white-f0:                             $grey-f0;
$grey-f4:                              #f4f4f4;
$white-f4:                             $grey-f4;
$grey-f5:                              #f5f5f5;
$white-f5:                             $grey-f5;
$grey-f6:                              #f6f8fb;
$white-f6:                             $grey-f6;
$grey-fe:                              #fefefe;
$white-fe:                             $grey-fe;
$white-f:                              #fff;
/* others */
$color-green:                          $palette-4;
$color-green-light:                    $palette-4-light;
$color-blue:                           $palette-2-dark;
$color-blue-light:                     $palette-2;
$main-blue:                            $palette-2;
$color-grey:                           $grey-87;
$color-grey-light:                     $grey-98;
$color-red-lighter :                   $palette-0-light;
$color-red:                            $palette-0-dark;
$color-red-light:                      $palette-0;
$light-grey:                           $grey-f5;
$color-orange:                         $palette-0;
$main-orange :                         $palette-0;
$color-orange-light:                   $palette-0-light;
$trial-bar-background:                 $main-orange;
$note:                                 #FFFCF3;

// text color
$main-text-color:                      #3e525f;
$strongest-text-color:                 #243038;
$strong-text-color:                    $grey-6;
$legend-grey:                          $grey-6;
$medium-text-color:                    $grey-89;
$placeholder-text-color:               $grey-b1;
$light-text-color:                     $grey-a;
$lightest-text-color:                  $grey-c;
$disabled-text-color:                  $grey-de;
$reverse-text-color:                   $white-f;
$warn-text-color:                      $main-orange;
$soft-text-color:                      lighten($main-text-color, 10%);
$lighter-text-color:                   lighten($main-text-color, 20%);
$ambassadors-text-color:               #007B31;
$passives-text-color:                  #CC7700;
$detractors-text-color:                #C62121;

// borders
$strong-border-color:                  $grey-80;
$border-grey:                          $grey-c;
$border-color:                         $grey-ea;
$border-light-color:                   $grey-f0;
$border-block-color:                   $grey-d;
$form-separator-color:                 $grey-e;

// backgrounds
$disabled-bg-color:                    $grey-e;
$button-bg-color:                      $white-e;
$dropdown-trigger-bg-color:            $white-e;
$subblock-bg-color:                    $grey-fe;
$main-background:                      #E5E5E5;
$block-background:                     $white-f;
$ambassadors-background-alpha:         rgba(0, 181, 72, 0.2);
$passives-background-alpha:            rgba(250, 176, 5, 0.2);
$detractors-background-alpha:          rgba(250, 82, 82, 0.2);
$ambassadors-background:               $palette-7;
$passives-background:                  #FFAB00;
$detractors-background:                $palette-9;

// profiles
$promoter-color:                       $palette-4;
$passive-color:                        $palette-3;
$detractor-color:                      $palette-0;

// badges : button-group, ember-power-selected, info-tooltip ...
$disabled-badge-bg-color:              $grey-ea;
$disabled-selected-badge-bg-color:     #F0F3F5;
$disabled-badge-color:                 $grey-80;
$dark-badge-color:                     $grey-9;
$new-badge-color:                      $grey-8;
$new-badge-border-color:               $grey-c;
$new-badge-bg-color:                   $white-f0;
$badge-color:                          $color-blue;
$badge-bg-color:                       lighten($color-blue, 40%);
$badge-border-color:                   $badge-color;

// text buttons
$blue-link-btn:                        #0AA9EC;

// others
/* errors */
$error-text-color:                     $palette-0-dark;
$error-border-color:                   $error-text-color;
$error-background:                     #ffeded;
$light-error-text-color:               $color-grey-light;
$warning-icon-color:                   $palette-1;

/* booleans labels */
$true-color:                           $main-text-color;
$true-bg-color:                        $block-background;
$true-border-color:                    $border-grey;
$false-color:                          $reverse-text-color;
$false-bg-color:                       $strongest-text-color;
$false-border-color:                   $strongest-text-color;

/*
** BUTTONS
*/

$button-box-shadow-color:              rgba(0, 0, 0, 0.1);
$button-box-shadow-color-hover:        rgba(0, 0, 0, 0.2);
$button-disabled-bg-color:             $grey-c;
$button-action:                        $palette-2;
$button-action-hover:                  $palette-2-dark;
$button-cancel-hover:                  $palette-1;
$button-cancel:                        $color-grey-light;
$button-delete-hard-hover:             $palette-0-dark;
$button-delete-hard:                   $palette-0;
$button-delete-hover:                  $palette-0;
$button-delete:                        $border-color;
$button-off-hover:                     $color-grey;
$button-off:                           $color-grey-light;
$button-on-hover:                      $color-green;
$button-on:                            $color-green-light;
$button-save-hover:                    $color-blue;
$button-save:                          $color-blue-light;
$button-state-disabled:                $button-disabled-bg-color;
$button-state-error:                   $color-red;
$button-state-loading:                 $button-disabled-bg-color;
$button-state-success:                 $color-green-light;
$button-transition-hover:              $palette-2-dark;
$button-transition:                    $palette-2;

/*
** CHARTS
*/

$charts-blue:                          #7ac1eb;
$chart-axis-text-color:                $grey-a;
$charts-progress-bar-background:       $grey-d6;
$chart-axis-stroke-color:              $grey-d;
$chart-axis-grid-color:                $white-e;
$charts-gridelines:                    $white-ef;

/*
** INTEGRATIONS
*/
$integration-map: (
  stripe:                         #008cdd,
  salesforce:                     #0092d6,
  intercom:                       #1f8ded,
  google-my-business:             #397AF2,
  desk:                           #674099,
  zendesk:                        #03363D,
  shopify:                        #7ab55c,
  woocommerce:                    #9b5c8f,
  prestashop:                     #df0067,
  magento:                        #ee672f,
  zapier:                         #fc3c06,
  microsoft-dynamics:             #002050,
  hubspot:                        #F66A1D,
  facebook:                       #3b5998,
  aircall:                        #40C43C,
  trustpilot:                     #24B67B,
);

/*
** Tables
*/

$selected-border:                      $palette-2;
$hovered-border:                       $palette-0;
$hovered-bg-color:                     #e6f3f7;
$default-tab-color:                    $grey-d;
$separator-head-border-color:          $grey-c;
$hover-tab-color:                      $white-ef;
$selected-line-bg-color:               #f5f5f8;
$selected-tab-color:                   $main-background;
$thead-active:                         #a8d3e6;

/*
** PLANS
*/

$entrepreneur-color:                   #41D082;
$secret-color:                         #41D082;
$unicorn-color:                        #F7B267;
$plan-bg-color:                        $grey-f5;

/*
** VIEWS & COMPONENTS
*/

// languages tabs
$close-tab-bg-hover:                   $button-delete-hover;

// integrations
$it-on-color:                           $color-green;
$it-off-color:                          $color-orange;

// default sidebar
$default-sidebar-hover-background-color:   #1e3b54;
$default-sidebar-text-color:               #4E677A;
$default-sidebar-background-color:         white; // #1a3349

// chat
$client-chat-bg-color:                 $default-sidebar-background-color;
$client-chat-text-color:               $white-f;
$company-chat-bg-color:                $main-background;
$company-chat-text-color:              $grey-3;

// sidebar
$sidebar-hover-background-color:       rgba($default-sidebar-hover-background-color,0.7);
$sidebar-text-color:                   #4E677A;
$sidebar-background-color:             darken($sidebar-hover-background-color, 3%); // #1a3349
$sidebar-dashboard:                    $palette-2;
$sidebar-dashboard-hover:              $palette-2-dark;
$sidebar-settings:                     $palette-1;
$sidebar-settings-hover:               $palette-1-dark;
$sidebar-hovered-border:               $palette-3;
$sidebar-selected-border:              $palette-0;
$sidebar-contact-background-color:     rgba($badge-bg-color, 0.6);
$sidebar-contact-text-color:           $grey-2;

// filters
$filter-text-color:                    $grey-8a;
$filter-reset-color:                   $color-orange-light;
$filter-reset-hover-color:             $color-orange;

// survey creation/edition
$switch-preview-type-text-color:       $grey-89;
$switch-preview-type-background-color: $white-f5;
$survey-preview-container-background: rgba(0, 0, 0, 0.6);
$nps-choice-bg-color:                  $white-f;
$nps-box-shadow-color:                 $grey-2;
$nps-text-color:                       $grey-3;
$nps-choice-bg-hover-color:            $grey-3;
$nps-box-shadow-hover-color:           $grey-1;
$nps-text-hover-color:                 $grey-2;

// scenarios
$colors-map: (
  scenario-survey-end: $color-green-light,
  scenario-survey-end-hover: $color-green,
  scenario-company-new-feedback: $color-blue-light,
  scenario-company-new-feedback-hover: $color-blue,
  scenario-survey-send: $color-orange-light,
  scenario-survey-send-hover: $color-orange
);
$scenario-actions-bg:                  $block-background;

// survey template preview
$preview-window-color:                 $grey-c;
$preview-window-bg:                    $grey-e;
$preview-mail-bg:                      $grey-f4;

// dropdown
$dropdown-list-shadow-color:           $grey-9;
$dropdown-trigger-border:              $border-grey;

@function color($category, $key, $state: null) {
  $color-key: $category + '-' + $key;
  @if ($state) {
    $color-key: $color-key + '-' + $state;
  }
  @if map-has-key($colors-map, $color-key) {
    @return map-get($colors-map, $color-key);
  }
  @warn "Unknown `#{$color-key}` in $colors-map`.";
  @return null;
}

/*
** SN-COLOR
*/

$sn-map: (
  snapchat:        #fffc00,
  apple-store:     #398EE9,
  blogger:         #F4943F,
  facebook:        #3b5998,
  fb-share:        #ffffff,
  fb-like:         #3b5998,
  google-play:     #a4c639,
  google-plus:     #d34836,
  instagram:       #d52869,
  linkedin:        #007bb6,
  pinterest:       #cb2027,
  tumblr:          #32506d,
  twitter:         #00aced,
  tw-tweet:        #00aced,
  tw-follow:       #00aced,
  youtube:         #FF0000,
  cta:               $palette-4
);

@function social-network-color($sn) {
  @if map-has-key($sn-map, $sn) {
    @return map-get($sn-map, $sn);
  }
  @warn "Unknown `#{$sn}` in $sn-map`.";
  @return null;
}

/*
** SMILEYS COLORS
*/

// nps
$nps-text-10:                         $promoter-color;
$nps-text-9:                          $nps-text-10;
$nps-text-8:                          $passive-color;
$nps-text-7:                          $nps-text-8;
$nps-text-6:                          $detractor-color;
$nps-text-5:                          $nps-text-6;
$nps-text-4:                          $nps-text-6;
$nps-text-3:                          $nps-text-6;
$nps-text-2:                          $nps-text-6;
$nps-text-1:                          $nps-text-6;
$nps-text-0:                          $nps-text-6;
// 5 smileys
$smiley-5-5:                          $palette-4;
$smiley-4-5:                          $palette-3;
$smiley-3-5:                          $palette-2;
$smiley-2-5:                          $palette-1;
$smiley-1-5:                          $palette-0;
// 4 smileys
$smiley-4-4:                          $palette-4;
$smiley-4-3:                          $palette-3;
$smiley-4-2:                          $palette-1;
$smiley-4-1:                          $palette-0;

// hexa color regexp : #([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})

/*
** Rarity Scale Colors
*/

$rarity-1: #FFC107;
$rarity-2: #9575CD;
$rarity-3: #64B5F6;
$rarity-4: #00E676;

$rarity-color-map: (
  1: $rarity-1,
  2: $rarity-2,
  3: $rarity-3,
  4: $rarity-4,
  5: $main-background,
  6: $main-background,
  7: $main-background,
  8: $main-background,
  9: $main-background,
  10: $main-background,
);

/*
** Alphabet Colors
*/

$alpha-color: (
  a: #ef9a9a,
  b: #f48fb1,
  c: #ce93d8,
  d: #b39ddb,
  e: #9fa8da,
  f: #90caf9,
  g: #81d4fa,
  h: #80deea,
  i: #80cbc4,
  j: #a5d6a7,
  k: #c5e1a5,
  l: #e6ee9c,
  m: #fff59d,
  n: #ffe082,
  o: #ffcc80,
  p: #ffab91,
  q: #ef9a9a,
  r: #f48fb1,
  s: #ce93d8,
  t: #b39ddb,
  u: #9fa8da,
  v: #90caf9,
  w: #81d4fa,
  x: #80deea,
  y: #80cbc4,
  z: #a5d6a7,
  else: $grey-d,
);

// NEW COLORS:

$segment-name-color: $palette-5-light;
$segment-value-color: $palette-5-dark;
$segment-border-color: $grey-e1;

$message-client-bg-color: $grey-f6;
$message-company-bg-color: $palette-6;
$message-text-color: $palette-5-dark;
$messaging-placeholder-color: #9EB0BE;

/*
** Input Colors
*/
$input-valid: #40C057;
$input-error: #FA5252;

/*
** Notifications Colors
*/

$notifications-warning-bg-color: #e8384f;

/*
** buttons background color
*/

$buttons-colors: (
  red:     $palette-0-light,
  blue:    $palette-2,
  green:   $palette-4-light,
  orange:  $palette-1-light,
);

$buttons-hover-colors: (
  red:     $palette-0,
  blue:    $palette-2-dark,
  green:   $palette-4-dark,
  orange:  $palette-1-dark,
);

$buttons-colors: (
  primary:    $palette-6,
  secondary:  $white-f,
  tertiary:   $white-f,
  validation: $palette-8,
  danger:     $palette-9,
);

$buttons-hover-colors: (
  primary:    $palette-6-dark,
  secondary:  $grey-f6,
  tertiary:   $grey-f6,
  validation: $palette-8-dark,
  danger:     $palette-9-dark,
);

$btn-txt-colors: (
  primary:    $white-f,
  secondary:  $palette-5-dark,
  tertiary:   $palette-5-dark,
  validation: $white-f,
  danger:     $white-f,
);

$btn-icon-colors: (
  primary:    $white-f,
  secondary:  $grey-71,
  tertiary:   $grey-71,
  validation: $white-f,
  danger:     $white-f,
);

$spinner-border-colors: (
  primary:    rgba(255, 255, 255, 0.5),
  secondary:  $grey-e1,
  tertiary:   $grey-e1,
  validation: rgba(255, 255, 255, 0.5),
  danger:     rgba(255, 255, 255, 0.5),
);

$spinner-border-left-colors: (
  primary:    rgba(255, 255, 255, 1),
  secondary:  $messaging-placeholder-color,
  tertiary:   $messaging-placeholder-color,
  validation: rgba(255, 255, 255, 1),
  danger:     rgba(255, 255, 255, 1),
);

@function color-by-class($btn, $colors-map) {
  @if map-has-key($colors-map, $btn) {
    @return map-get($colors-map, $btn);
  }
  @warn "Unknown `#{$btn}` in #{$colors-map}`.";
  @return null;
}
